@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');

.kristi-regular{
    font-family: "Kristi", cursive;
    font-weight: 400;
    font-style: normal;
  }

.active{
    background-color:#ececec;
}
p{
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
#root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}